- if Favorite.find_by(user_id: current_user.id, product_id: @product.id)
  .report
    %li.likeBtn.already
      = icon('fa', 'star starIcon')
      = link_to "お気に入り　削除", product_favorite_path(@product, product.id), class: "starBtn", method: :delete
- else
  .report
    %li.likeBtn.none
      = icon('fa', 'star starIcon')
      = link_to "お気に入り　登録", product_favorites_path(@product), class: "starBtn", method: :post
