.BodyCard{
  margin-top: 50px;
  &--btn{
    text-align: center;
  }
  &__inner{
    height: 500px;
    width: 50%;
    margin: 0 auto;
    .CardBox{
      margin-bottom: 30px;
      &--ele{
        margin: 5px;
        span{
          background-color: red;
          border-radius: 5px;
          border: 2px solid red;
          color: #fff;
          font-size: 12px;
        }
      }
    }
    &--btn{
      text-align: center;
      margin-top: 50px;
    }
  }
}
.input-text{
  height: 40px;
  width: 300px;
}
.input-select{
  height: 40px;
  width: 60px;
}
.card_image{
  height: 20px;
}