footer {
  .Footer__TOP{
    padding: 100px 40px;
    background-image: image-url('topimage/bg-appBanner-pict.jpg');
    position: relative;
    background-position: center;
    background-size: cover;
    &__Title {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      color: #fff;
    }
    &__Text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: center;
      color: #fff;
    }
    &__Icon {
      text-align: center;
      padding-top: 30px;
      .app_image {
        width: 180px;
        height: 53px;
      }
    }
  }

  .Footer__Bottom {
    padding: 60px 0;
    color: #fff;
    background-color: #272727;
    height: 230px;
    text-align: center;
    &__Contents {
      display: flex;
      margin: 0 auto;
      width: 840px;
      height: 170px;
      &__Box {
        width: 33%;
        height: 170px;
        margin: 0 10px;
        &__Title {
          margin-bottom: 20px;
          .title-cog {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
          }
        }
        &__Word {
          .text-cog {
            text-decoration: none;
            color: #fff;
            font-size: 12px;
          }
        }
      }
    }
    &__Icon {
      .furima_image {
        width: 160px;
        height: 45px;
      }
    }
    &__Text {
      font-size: 14px;
      .logo {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
