body{
  .mainPicture {
    height: 560px;
    width: 100%;
    padding: 0 60px;
    display: flex;
    background-image: url(bg-mainVisual-pict_pc.jpg);
    background-size: cover;
    background-position: top center;
    &__content {
      width: 100%;
      margin: 0 auto;
      padding-top: 35px;
      max-width: 1280px;
      &__title {
        font-size: 60px;
        color: #fff;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        height: 144px;
      }
      &__text {
        font-size: 18px;
        color: #fff;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        margin: 16px;
        height: 64px;
      }
    }
  }
  .mainIntroduce {
    padding: 60px 20px;
    width: 100%;
    height: 560px;
    background-color: turquoise;
  }
  .subPicture {
    height: 400px;
    background-image: url(bg-topMiddleDl-pict.jpg);
    background-position: center;
    background-size: cover;
  }
  .mainFeatures {
    height: 730px;
    padding: 60px 100px;
    background-color: yellowgreen;
  }
  .pickupCategory {
    padding: 80px 0 0;
    height: 420px;
    &__top {
      font-size: 28px;
      text-align: center;
      &__title {
        font-size: 100%;
        color: turquoise;
        &__products {
          display: flex;
          width: 780px;
          height: 150px;
          justify-content: space-around;
          margin: 26px auto;
          &__left {
            background-image: url(IMG_9072.jpeg);
            height: 150px;
            width: 220px;
            background-position: center;
          }
          &__middleLeft {
            height: 150px;
            width: 220px;
            background-color: violet;
            background-image: url(a007.png);
            background-position: center;
          }
          &__middleRight {
            height: 150px;
            width: 220px;
            background-color: tomato;
            background-image: url(a004.png);
            background-position: center;
          }
          &__right {
            height: 150px;
            width: 220px;
            background-color: teal;
            background-image: url(a001.png);
            background-position: center;
          }
        }
        &__textField {
          display: flex;
          width: 780px;
          height: 150px;
          justify-content: space-around;
          margin: 26px auto;
        }
      }
    }
  }
  .lastPicture {
    padding: 100px 40px;
    background-image: url(bg-appBanner-pict.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    height: 360px;
  }
}