.HeaderField{
  width: 100vw;
  height: 150px;
  background-color: rgb(130, 130, 248);
}
.no-underline {
  text-decoration: none;
}
body{
  background-color: rgb(238, 235, 235);
}


.NewFormField{
  width: 60%;
  background-color: #fff;
  margin: 100px auto;
}

// .InputForm{
//   padding: 50px;
//   &__Title{
//     font-size: 26px;
//     margin: 0 auto 100px;
//   }
//   &__ImageField{
//     display: flex;
//   }

.InputForm{
  padding: 50px;
  // text-align: center;
  &__Title{
    font-size: 26px;
    margin: 0 auto;
  }
  .form-image{
    &__title{
    }
    &__text{
    }
    .clearfix{
      // display: flex;
      ul#previews{
        display: flex;
        li.image-preview{
          .upload-label{
            &__text{
              // background-color: red;
              // .input-area{
              //   .hidden{
              //     display: none;
              //   }
              //   .image_upload{

              //   }
              // }
            }
          }
          &__wapper{
            // .preview{
            //   width: 114px;
            // }
          }
          .image-preview_btn{
            display: flex;
            .image-preview_btn_edit{

            }
            .image-preview_btn_delete{

            }
          }
        }
        li.input{
          background-color: red;
        }
      }
    }
  }
  table.InputForm__table{
    border-collapse: separate;
    padding: 50px;
    width: 100%;
    tbody{
      tr{
        th{
          width: 200px;
          border-bottom: 1px solid #bfc2c2;
          span{
            background-color: red;
            border-radius: 5px;
            border: 2px solid red;
            color: #fff;
            font-size: 12px;
            float: right;
          }
        }
        td{
          padding: 20px 20px;
          border-bottom: 1px solid #bfc2c2;

        }
      }
    }
  }
  &--btn{
    text-align: center;
  }
}
.js-file_group{
  &__Image{
    &--icon{
      font-size: 50px;
      color: rgb(133, 130, 130);
    }
    &--file{
      display: none;
    }
  }
}
.preview{
  width: 114px;
}



.input-area{
  .hidden{
    display: none;
  }
  .image_upload{
  }
}


.btn-smole{
  padding: 3px 5px;
  text-decoration: none;
  color: red;
  border-radius: 4px;
  border: solid 1px red;
}
.Button{
  background-color: red;
  padding: 10px 50px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #970303;
}
.Button:active {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.form-text{
  height: 40px;
  width: 100%;
}
.form-area{
  height: 120px;
  width: 100%;
}
.form-select{
  height: 40px;
  padding: 10px, 20px;
  width: 100%;
}