.productLists{
  padding: 20px;
  .productList{
    width: 85%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    .listTitle{
      color: black;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 10px;
      margin: 30px;
    }
    .productField{
      flex-direction: row;
      flex-wrap: wrap;
      display: flex;
      margin: 0 auto;
      &__ProductBox{
        height: 245px;
        width: 220px;
        background-color: #fff;
        margin: 5px;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
        .productLink{
          text-decoration: none;
          color: black;
        }
        &__Image {
          .soldOut_flg{
            position: absolute;
            z-index: 10;
          }
          .relationImg {
            width: 220px;
            height: 150px;
            object-fit: fill;
          }
        }
        &__Info {
          &__Ele {
            display: flex;
            font-size: 16px;
            justify-content: space-between;
            &__Price{
              justify-content: left;
            }
            &__Favorite {
              justify-content: right;
              margin-right: 15px;
            }
          }
          &__Tax {
            justify-content: left;
            font-size: 10px;
          }
        }
      }
    }
  }
}
.Sort_field{
  // border: 1px solid;
  text-align: right;
  margin: 30px 60px 10px;
  display: flex;
  justify-content: flex-end;
  &__box{
    border-bottom: 1px solid;
    width: 400px;
  }
}
.btn-link{
  border: none;
  background-color: #fff;
  padding-left: 10px;
}