.NewFormField{
  width: 50%;
  background-color: #fff;
  margin: 0 auto;
  padding: 50px 0;

  // height: 100px;
}
.main{
  // height: 100px;
  // background-color: blue;
  // text-align: center;
  section.main__block{
    width: 100%;
    // background-color: blueviolet;
    // padding-top: 100px 0;
    .sell__block__head{
      font-size: 40px;
      // margin: 0 auto;
      
      text-align: center;
    }
    .sell__block__form{
      &__upload{
        margin: 50px;
        &__head{
          span.require{
          }
        }
      }
      .sell__block__form__name{
        // width: 100%;
        // background-color: brown;
        padding: 50px;
        table.form-group__name{
          padding: 50px;
          width: 100%;
          border-collapse: separate;
          padding: 25px 25px;
          tbody{
            tr{
              th{
                // vertical-align: top;
                text-align: left;
                border-bottom: 1px solid;

                span{

                }
              }
              td{
                padding-left: 20px;
                height: 100px;
                border-bottom: 1px solid;
              }
            }
          }
        }
      }
    }
  }
}