.MyPage
  = render "sidebar"

  .MyPage__MainField
    .MyPage__MainField__Title
      ログアウトページ
      %hr
    .BodyLogout
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'Button'
